.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }
}

.avatar-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
    color: $color-nickel;
  }
}

@media only screen and (min-width: 950px) {
  .avatar {
    justify-content: flex-start;
  }
}
